
.controls {
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#toggleFilters {
    padding: 10px 20px;
    cursor: pointer;
}

#filterMenu {
    display: none; 
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

button,
#datePicker {
    padding: 10px;
    flex: 1;
    text-align: center;
    width: 100px;
    height: 40px;
}

.viz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

#tableauViz {
    width: 100%;
    height: 100%;
}
div#partnersFilter>div {
    min-width: 150px;
    column-gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#partnersFilter {
    flex-wrap: wrap;
    padding: 10px;
    display: none; 
    background-color: #FFFFFF;
}

div#partnersFilter>div>* {
    margin: 0;
    padding: 0;
}


/*** CSS  ***/
#filter-wrapper {
	position: fixed;
	z-index: 99;
	right: 0;
	top: 0;
	height: 100vh;
	overflow: auto;
	background: #fff;
	padding: 25px;
	max-width: 410px;
	transition: 0.3s all;
	transform: translateX(100vw);
	border-left: 1px solid #9999994d;
}
#filter-wrapper.active{
    transform: translateX(0vw);
}

#filter-wrapper h4 {
	margin-top: 0px;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
    line-height:normal;
}
.date {
	margin-top: 0;
	font-size: 14px;
	font-weight: 500;
	color: #333;
	display: flex;
	gap: 15px;
}
.date em{
    font-style:normal;
}
.form-group {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.form-input select:not(#seasons-weeks) {
	width: 100%;
	padding: 12px 15px;
	background: transparent;
	border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	font-size: 15px;
    border: 0px ;
	letter-spacing: 1px;
	font-weight: 500;
}
.inputs-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}
.recent-input label {
	padding: 8px 18px;
	border-radius: 30px;
	font-size: 15px;
	cursor: pointer;
	display: block;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	line-height: normal;
}
.recent-input input {
  position: absolute;
  opacity: 0;
}
.recent-input .input {
  position: relative;
  cursor: pointer;
  width: max-content;
}
.recent-input input:checked + label {
  background: #000;
  color: #fff;
  border-color: #000;
}
#seasons-weeks {
	width: 100%;
	background: transparent;
	border: 1px solid #9999;
	padding: 10px;
	border-radius: 10px;
}
.seasson {
	padding: 4px 17px;
	border-radius: 30px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	min-width: 130px;
	margin-bottom: 10px;
	border: 0px;
	margin-right: 5px;
	font-family: "Poppins", sans-serif;
	background: transparent;
}
#filter-btn {
    width: 40px;
    height: 50px;
    position: fixed;
    background: transparent;
    top: 5px;
    z-index: 9;
    right: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    align-items: center;
  }
  #filter-btn svg {
    width: 27px;
    height: 27px;
    filter: invert();
  }
  #filter-btn.active {
	top: 20px;
	bottom: unset;
	right: 410px;
	z-index: 999;
  background-color: rgba(241,147,19,1);
}
.filter-header h4 {
	background: linear-gradient(209deg, rgba(236,95,36,1) 9%, rgba(241,147,19,1) 80%);
	padding: 6px 20px 6px 20px;
	line-height: normal;
	color: #fff;
	margin-bottom: 0 !important;
	border-radius: 10px 10px 0 0;
	display: flex;
	align-items: center;
	gap: 20px;
}
.filter-header h4 svg{
    width: 26px;
    height: 26px;
    filter: invert();
}
.filter-header .date {
	padding: 11px 20px;
	border: 1px solid #c2c2c2;
	border-top: 0px;
	border-radius: 0px 0px 10px 10px;
}
.select2-container {
	display: block;
	width: 100%;
    right:0px !important
}
#season-type {
	overflow: -moz-hidden-unscrollable;
	background: url(./images/down-arrow-icon.png) !important;
	background-repeat: no-repeat !important;
	background-size: 20px !important;
	background-position: center right 20px !important;
}
#season-type {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
.form-input {
  display: flex;
  flex-wrap: wrap;
}

.form-input h4 {
  width: 100%;
}
#datePicker {
	border: 1px solid #99999929 !important;
	border-radius: 10px;
}



@media(max-width:767px){


.form-input button {

	width: calc(100% / 2 - 5px);
	min-width: unset;
	flex: unset;
	margin:0px;
}
.form-input:not(.recent-input) {
	gap: 10px;
}

.recent-input .inputs-group .input {
	width: calc(100% / 2 - 5px);
}
.recent-input .inputs-group .seasson {
	width: 100%;
	display: block;
	margin: 0px;
}
.recent-input .inputs-group {
	width: 100%;
	gap: 10px;
}
    #filter-wrapper.active {
        transform: translateX(0vw);
        padding-top: 80px;
    }
    #filter-btn.active {
        top: 10px;
        bottom: unset;
        right: 29px;
        z-index: 100;
        border-radius: 5px;
        height: 45px;
        width: 45px;
    }
    .select2-container {
        display: block;
        width: 100%;
        right:unset;
        left:0 !important;
    }

}
.dropdown {
    position: relative;
    font-size: 14px;
    color: #333;
    width: 100%;
  }
  .dropdown .dropdown-list {
    padding: 0;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 2px;
    right: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
    transform-origin: 50% 0;
    transform: scale(1, 0);
    transition: transform 0.15s ease-in-out 0.15s;
    max-height: 66vh;
    overflow-y: scroll;
    z-index: 9;
    max-height: 300px;
  }
  .dropdown .dropdown-option {
    display: block;
    padding: 8px 12px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }
  .dropdown .dropdown-label {
    display: block;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    line-height: 1;
    cursor: pointer;
  }
  .dropdown .dropdown-label:before {
    content: "▼";
    float: right;
  }
  .dropdown.on .dropdown-list {
    transform: scale(1, 1);
    transition-delay: 0s;
  }
  .dropdown.on .dropdown-list .dropdown-option {
    opacity: 1;
    transition-delay: 0.2s;
  }
  .dropdown.on .dropdown-label:before {
    content: "▲";
  }
  .dropdown [type=checkbox] {
    position: relative;
    top: -1px;
    margin-right: 4px;
  }
  .dropdown .search-box {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    width: 100%;
  }

  .dropdown .sticky-footer {
    position: sticky;
    bottom: 0;
    background: #fff;
    padding: 8px;
    border-top: 1px solid #ccc;
    text-align: right;
  }

  .dropdown .apply-all-btn {
    padding: 6px 12px;
    background: #379937;
    color: #fff;
    border: none;
    cursor: pointer;
  }